
.Container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.Container-light {
  background-color: white;
  color: black;
}
.Container-dark {
  background-color: black;
  color: white;
}
.link{
  text-decoration: none;
  color: inherit;
}
.project{
  background-color: blue;
  top: 2.2rem;
  left: 1.22rem;
}
.btn{
  border: 1px solid black;
  border-radius: 20px;
  color: white;
  background-color:yellow;
  height: 1rem;width: 2.5rem;
}